---
layout: 'base.njk'
title: "À propos de nous"
metaDescription: ""
---

<main>
    <section class="about">
    
    <div class="container-fluid col-xxl-10">
        <div class="about_container bg_sable">
            <div>
                <h1 class="about_title pb-3">Notre vision des Ressources Humaines</h1>
            </div>

            <div>
                <p class="about_text">EclaiR’H est un cabinet de consultants expérimentés de la fonction des ressources humaines ainsi que de l’organisation et structuration d’entreprises.</p>
                <p class="about_text">Nous avons construit nos expériences de plusieurs années au sein de grands groupes internationaux, d’entreprises à taille humaine ainsi que sur de grands sites industriels , ce qui nous permet d’avoir une connaissance accrue du terrain, une vision globale du monde professionnel, et de rester connectés à la réalité opérationnelle en matière de gestion.</p>
                <p class="about_text">Portés par la volonté de voir chacun s’accomplir dans sa vie professionnelle, nous avons souhaités nous tourner vers  des missions de conseils et d’accompagnement en fondant EclaiR’H, un cabinet qui s’adresse à tous les acteurs du monde du travail.</p>
                <p class="about_text">Nos objectifs reposent sur la transmission de savoirs, en gestion individuelle comme en gestion d’entreprise, afin que chacun puisse se réapproprier son destin professionnel. </p>
                <p class="about_text">Loin des méthodes standardisées, souvent éloignées de vos attentes, nous vous apportons un accompagnement adapté et individualisé dans le respect de votre rythme et de vos besoins.</p>
                <p class="about_text">Véritablement passionnés, nous avons à cœur la réussite de tous !</p>
            </div>

            <div class="w-100">
                <p class="about_sign py-3 text-end">EclaiR’H</p>
            </div>
        </div>
    </section>
</div>

</main>