---
layout: 'base.njk'
title: "Mention légales"
---
<main style="color: #3C405B">
    <div class="container-fluid col-xxl-10 bg_sable my-5 p-5">
       <h1>MENTIONS LÉGALES</h1>
       <div>
           <h2>Editeur</h2>
           <p>La société Eclairh</p>
           <p>Statut : Entreprise individuelle</p>
           <p>Adresse du siège social : 3 rue de Genève CS 50367 - 69451 LYON CEDEX 06</p>
           <p>N°SIRET : 84423091200017</p>
           <p>Numéro de téléphone: 0615902138</p>
           <p>Adresse e-mail : contact@eclairh.fr.</p>
           <p>Le Directeur de la publication est Dirigeant de la société EclaiRH</p>
       </div>
       <div>
        <h2>Hébergeur</h2>
        <p>Netlify</p>
        <p>2325 3rd Street, Suite 296, San Francisco, California 94107,</p>
        <p>Site web : www.netlify.com</p>
        <p>support@netlify.com</p>
       </div>
       <div>
        <h2>Cookies</h2>
        <p>Ce site n’utilise pas de cookies</p>
       </div>
</div>
</main>