---
layout: 'base.njk'
title: "Politique de confidentialité"
---

<main style="color: #3C405B">
    <div class="container-fluid col-xxl-10 bg_sable my-5 p-5">
        <div>
            <h1>Politique de confidentialité</h1>
            <p>Dernière mise à jour : 20 octobre 2022.
            </p>
        </div>
        <div>
            <div>
                <h2>Données que nous collectons</h2>
                <p>Nous collectons uniquement les informations nécessaires pour vous répondre dans le cadre d’une demande de
                    contact.
                </p>
            </div>
            <div>
                <h2>Identité du responsable du traitement</h2>
                <p>Vous pouvez contacter EclaiR’H aux coordonnées suivantes :</p>
                <ul>
                    <li>contact@eclairh.fr</li>
                    <li>3 Rue de Genève 69006 Lyon</li>
                </ul>
            </div>
            <div>
                <h2>Finalité du traitement</h2>
                <p>Eclairh est susceptible de traiter vos informations personnelles :</p>
                <ul>
                    <li>aux fins de vous fournir les informations ou les services que vous avez demandé de recevoir</li>
                </ul>
            </div>
            <div>
                <h2>Base légale justifiant le traitement</h2>
                <p>Le consentement lorsque vous envoyez le formulaire.</p>
            </div>
            <div>
                <h2>Caractère obligatoire ou facultatif du recueil de données personnelles</h2>
                <div>
                    <p>Champs obligatoire du formulaire: </p>
                    <ul>
                        <li>"Votre Nom & Prénom"</li>
                        <li>"Votre Adresse Mail"</li>
                        <li>"Votre Numéro de Téléphone"</li>
                        <li>"Votre message"</li>
                    </ul>
                </div>
                <div>
                    <p>Champs facultatifs du formulaire:</p>
                    <ul>
                        <li>"Quel jour ?"</li>
                        <li>"Vos disponibilités ?"
                        </li>
                    </ul>
                </div>
                <p>Vous ne pouvez pas prendre contact avec nous si vous ne remplissez pas tous les champs obligatoires.
                </p>
            </div>
            <div>
                <h2>Destinataires des données personnelles</h2>
                <p>Les consultants et partenaires de l’entreprise</p>
            </div>
            <div>
                <h2>Durée de conservation des données personnelles</h2>
                <p>Les demandes de contact sont conservées 3 ans (36 mois)</p>
            </div>
            <div>
                <h2>Vos droits
                </h2>
                <ul>
                    <li>le droit de rester informé concernant l’utilisation de vos données</li>
                    <li>le droit de vous opposer à l’utilisation, la diffusion ou la conservation de vos données</li>
                    <li>le droit de vérifier vos données</li>
                    <li>le droit de rectifier vos données
                    </li>
                    <li>le droit de supprimer vos données
                    </li>
                    <li>le droit de demander une copie de vos données</li>
                    <li>le droit de vous opposer à toute intervention automatisée concernant vos données</li>
                </ul>
            </div>
            <div>
                <h2>Où sont stockées vos données ?</h2>
                <p>Les données du site sont stockées sur les serveurs de Netlify (https://www.netlify.com/).
                    Ce prestataire est conforme au RGPD et s’engage à respecter la politique de confidentialité liée à ce règlement.
                    </p>
            </div>
        </div>
    </div>
</main>